{% extends 'page.twig' %}

{% block content %}
    <div class="list__title"><b>Info client</b></div>
    <div>
        <form action="/client/update" method="POST">
            <input class="hidden" value="{{ client.id }}" name="id" />
            <div>
                <span>First name</span>
                <input value="{{ client.first_name }}" type="text" name="first_name"/>
            </div>
            <div>
                <span>Last name</span>
                <input value="{{ client.last_name }}" type="text" name="last_name"/>
            </div>
            <div>
                <span>Phone</span>
                <input value="{{ client.phone }}" type="text" name="phone"/>
            </div>
            <input class="save" type="submit" value="Save">
        </form>
    </div>
{% endblock %}