{% extends 'page.twig' %}

{% block content %}
    <div class="list">
        <div class="list__title">
            <b>Clients</b>
        </div>
        <div class="list__items">
            <a class="list__button" href="/client/add">Add new client</a>
            {% for client in clients %}
                <div class="item">
                    <span>{{ client.first_name }}</span>
                    <span>{{ client.last_name }}</span>
                    <span>{{ client.phone }}</span>
                    <a class="change" href={{ "/client/info/" ~ client.id }}>Change</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}